<article class="mod-movie" data-movie="<%= movie.slug %>">
  <div class="title">
    <%= link_to "#{movie.title}", "#", {:class => "movie_title"} %>
  </div>
  <div class="description" style="display: none">
    lorem ipsum 
    lorem ipsum 
    lorem ipsum 
    lorem ipsum 
  </div>
  <ul class="movie_images">
  </ul>
</article>
