<div class="main-content">
  <%= render partial: "shared/splash" %>

  <div id="movies" class="mod-movies">
    <%= render partial: 'movie', collection: @movies %>
  </div>
</div>

<%= javascript_include_tag('custom') %>
<%= javascript_tag do %>
  $(document).ready(function(){
    var BrowserApp = require('./modules/app');
    app = new BrowserApp();
    app.showMovie();
    Backbone.history.start({pushState: true})

    // startup isotope
    var movies = $("#movies");
    movies.masonry();
  });
<% end %>
