<div class="main-content">
  <%= render partial: "shared/splash" %>

  <div id="filter" class="browser">
    <div id="movie-nav" class="actions">
      <h3>Navigate</h3>
      <a href="#" data-action="previous">Previous</a> | <a href="#" data-action="next">Next</a>
    </div>
    <div id="movie-nav" class="actions">
      <h3>Filter by Genre</h3>
      <ul>
        <li><input type="checkbox" value="Action">Action</input></li>
      </ul>
    </div>
    <div id="movie-nav" class="actions">
      <h3>Filter by Rating</h3>
      <ul>
        <li><input type="checkbox" value="5 stars"></li>
      </ul>
    </div>
  </div>

  <div id="movies" class="mod-movies">
    <%= render partial: 'movie', collection: @movies %>
    <div id="details" class="mod-movie details">
      details
    </div>
  </div>
</div>

<%= javascript_include_tag('custom') %>
<%= javascript_tag do %>
  $(document).ready(function(){
    Backbone.history.start({pushState: true});

    var App = require('./modules/app');
    var app = new App();
    app.start();
  });
<% end %>
