<div class="main-content">
  <%= render partial: "shared/splash" %>

  <div id="movies" class="mod-movies">
    <%= render partial: 'movie', collection: @movies %>
  </div>
</div>

<%= javascript_include_tag('custom') %>
<%= javascript_tag do %>
  $(document).ready(function(){
    Backbone.history.start({pushState: true});

    var App = require('./modules/app');
    var app = new App();
    app.start();
  });
<% end %>
