<div class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
  <%= link_to root_path do %>
      Palme d'Or
  <% end %>
</li>
</ul>
  <nav>
  <ul class="main-nav">
    <li>
      <%= link_to "", class: 'find' do %>
        <i class="icon-search"></i>
      <% end %>
    </li>
  </ul>
  </nav>
</div>
<div class="clear"></div>
