<div class="mod-header">
  <%= link_to root_path do %>
    <h1>
      Palm d'Or
    </h1>
  <% end %>
  <nav>
  <ul class="main-nav">
    <li>
      <%= link_to "", class: 'find' do %>
        <i class="icon-search"></i>
      <% end %>
    </li>
  </ul>
  </nav>
</div>
<div class="clear"></div>
