<div id="splash" class="splash">
  <div class="focus">The Movie Festival</div>
  <p>Browse and rate movies</p> 
  <div class="controls">
    <button href="#" data-reveal-id="join">Join</button>
    <button href="#" data-reveal-id="login">Login</button>
  </div>
  <div id="login" class="reveal-modal">
    <h2>Awesome. Let's Login.</h2>
    <p class="lead">Login.</p>
    <p>Im a cool paragraph that lives inside of an even cooler modal. Wins</p>
    <a class="close-reveal-modal">&#215;</a>
  </div>
  <div id="join" class="reveal-modal">
    <h2>Awesome. You want to Join.</h2>
    <p class="lead">Join.</p>
    <p>Im a cool paragraph that lives inside of an even cooler modal. Wins</p>
    <a class="close-reveal-modal">&#215;</a>
  </div>
</div>

