<div id="splash" class="splash">
  <div class="focus">The Movie Festival</div>
  <p>Browse and rate movies</p> 
  <div class="controls">
    <button href="#">Join</button>
    <button href="#">Login</button>
  </div>
</div>)
