@import "bourbon"

.mod-movies
  clear: both

.mod-movie
  @include box-shadow(0 0 5px 3px hsla(40, 50%, 0%, 0.65))
  width: 120px
  height: 120px
  margin: 10px
  text-align: center

.details
  @include box-shadow(0 0 5px 3px red)
  width: 60%
  float: left
  margin-top: 10px
  margin-left: 30px
  min-height: 480px
  padding: 10px
  padding-top: 20px

.browser
  width: 220px
  float: left
  font-size: 11px

  .actions
    border: 1px black solid
    width: 90%
    padding: 10px

    h3
      font-size: 18px

    li
      list-style: none
    
